* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.round {
    border-radius: 10%;
}

.round:hover {
    opacity: 0.8;
}

.smalll {
    font-size: 13px;
}

.caro {
    color: #1e5799;
    font-weight: bold;
}

.caro:hover {
    color: rgb(192, 20, 20);
    text-decoration: none;
}

.navbar-nav li:hover>ul.dropdown-menu{
    display: block;
}

.dropdown-submenu{
    position: relative;
}

.dropdown-submenu>.dropdown-menu{
    top: 0;
    left: 100%;
}

.nav-item:hover{
    background-color: red!important;
}
.dropdown-item{
    border-bottom: 1px dashed white!important;
}
.dropdown-item:hover{
    background-color: rgb(131, 126, 126)!important;
}
.cent{

}

@media (max-width:768px){
    .headbar img{
        width: 100%;
    }
}
    
